id: sns-service-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: sns-service-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: sns-service-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: sns-service-green
      app: sns-service-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: sns-service-green
        containers:
          - name: sns-service-green
            image: octoblu/sns-service:$SHORT_COMMIT
            ports:
              - containerPort: 80

